my_flows.json
[{"id":"b84d8811.9408d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"515bb640.bd9fe8","type":"debug","z":"b84d8811.9408d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":180,"wires":[]},{"id":"ec6d8ce8.61ad7","type":"e-mail","z":"b84d8811.9408d8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"andre.def93@gmail.com","dname":"","x":500,"y":320,"wires":[]},{"id":"50ac67db.e35b38","type":"http response","z":"b84d8811.9408d8","name":"","statusCode":"","headers":{},"x":670,"y":260,"wires":[]},{"id":"b844e609.5261a8","type":"http in","z":"b84d8811.9408d8","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["515bb640.bd9fe8","ec6d8ce8.61ad7","50ac67db.e35b38"]]}]