node-red-data/flows.json
[{"id":"d90a6c84.d8916","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a9fdbb5.a19734","type":"tab","label":"DASP Email Flow","disabled":false,"info":""},{"id":"ba0525b0.cee578","type":"debug","z":"7a9fdbb5.a19734","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":200,"wires":[]},{"id":"d6a3bee9.1a3d1","type":"e-mail","z":"7a9fdbb5.a19734","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":790,"y":400,"wires":[]},{"id":"51af507a.c24b3","type":"http response","z":"7a9fdbb5.a19734","name":"","statusCode":"","headers":{},"x":810,"y":280,"wires":[]},{"id":"8c7bca17.625258","type":"http in","z":"7a9fdbb5.a19734","name":"","url":"/hello","method":"post","upload":false,"swaggerDoc":"","x":270,"y":280,"wires":[["b416fed3.cffde"]]},{"id":"b416fed3.cffde","type":"function","z":"7a9fdbb5.a19734","name":"","func":"msg.to = msg.payload.to\nmsg.topic = msg.payload.topic\nif (msg.payload.body){\nmsg.payload = msg.payload.body\n}else{\nmsg.payload = 'Mesage sent from DASP - Descentralized Autonomous Scientific Publisher'\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["d6a3bee9.1a3d1","51af507a.c24b3","ba0525b0.cee578"]]}]